<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812692695563-69luh5s83bv1b7gavg1hljubhda6p5h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812692695563-69luh5s83bv1b7gavg1hljubhda6p5h2</string>
	<key>API_KEY</key>
	<string>AIzaSyDposvap3EIcg4D9cd18iYVkBJoHZ0-y2A</string>
	<key>GCM_SENDER_ID</key>
	<string>812692695563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AK.SwipeApp</string>
	<key>PROJECT_ID</key>
	<string>swipematchfirestore-e145a</string>
	<key>STORAGE_BUCKET</key>
	<string>swipematchfirestore-e145a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812692695563:ios:39ce848d464874e2c5b50e</string>
</dict>
</plist>